<ion-item button *ngFor="let item of (moviesData | async)" [routerLink]="['/', 'movie', item.imdbID]">

  <ion-avatar slot="start">
    <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'">
  </ion-avatar>

  <ion-label text-wrap>
    <h2>{{ item.Title }}</h2>
    {{ item.Year }}
  </ion-label>

  <ion-icon slot="end" *ngIf="item.Type == 'movie'" name="videocam"></ion-icon>
  <ion-icon slot="end" *ngIf="item.Type == 'series'" name="tv"></ion-icon>
  <ion-icon slot="end" *ngIf="item.Type == 'game'" name="logo-game-controller-b"></ion-icon>

</ion-item>