<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Movie Search</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onSearch($event)" animated></ion-searchbar>
  <ion-item>
    <ion-label>Select Searchtype</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="onSearch($event)">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="movie">Movie</ion-select-option>
      <ion-select-option value="series">Series</ion-select-option>
      <ion-select-option value="episode">Episode</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list>
    <ion-text color="danger">
      <h3>{{ errorOccur }}</h3>
    </ion-text>

    <!-- custom components -->
    <app-movie-card [moviesData]="results" ></app-movie-card>
  
  </ion-list>
</ion-content>